version: '3'
services:
  php-apache:
    build:
        context: ./docker/php
    ports: 
      - 80:80
    links:
      - mariadb
    volumes:
      - ./chameleon-system:/var/www/html
      - ./logs:/var/log/apache2
  mariadb:
    image: mariadb:10.1
    volumes:
      - ./mariadb:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: database
      MYSQL_USER: user
      MYSQL_PASSWORD: pass